* {
  margin: 0;
  padding: 0;
  font-family: "popins", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #ededed;
  background: #001a23;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px 10%;
  background: #042d51;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 10%;
  cursor: default;
  opacity: 0;
  animation: slideRight 0.2s ease forwards;
}

.navbar {
  padding: 10px 7%;
}

.navbar a {
  display: inline-block;
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.2s;
  opacity: 0;
  animation: slideTop 0.2s ease forwards;
  /* This piece of code is referring to an animation effect in CSS.
slideTop is the name of the animation.
0.5s indicates that the animation will take 0.5 seconds to complete.
ease is the timing function, which specifies how the intermediate values of the CSS properties will be calculated during the animation.
forwards means that the animation will retain the styles of the last keyframe (at 100% completion) after the animation has finished. This can be useful if you want the element to stay in its final state after the animation is completed.
So, in summary, this code snippet defines an animation named slideTop that will slide an element from the bottom to the top over a duration of 0.5 seconds, using an easing effect, and will keep the final state of the animation after it finishes. */
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  color: rgb(199, 53, 99);
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(Images/Profile_home.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 35px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.2s;
}

#Occupation {
  margin: 20px 0;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  padding: auto;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
}

.home-content h3 span {
  color: rgb(252, 209, 246);
  box-shadow: 0 0 5px rgb(131, 229, 253), 0 0 25px rgb(80, 121, 234),
    0 0 25px rgb(102, 22, 95), 0 0 25px rgb(80, 121, 234);
  border-radius: 20px;
  margin: 5;
  padding: 2px;
}

.home-content h1 {
  font-size: 530%;
  font-weight: 900;
  margin: -3px 0;
  padding: 10px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.2s;
}

.home-content p {
  font-size: 30px;
  opacity: 0;
  animation: slideLeft 0.2s ease forwards;
  animation-delay: 0.2s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 5px solid rgb(255, 186, 214);
  border-radius: 50%;
  font-size: 45px;
  color: rgb(253, 186, 213);
  text-decoration: none;
  margin: 30px 25px 30px 0;
  transition: 0.2s ease;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: calc(0.02s * var(--i));
}

.home-sci a:hover {
  background: rgb(232, 138, 176);
  color: #1d608d;
  box-shadow: 0 0 20px rgb(232, 138, 176), 0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(247, 159, 207);
  border-radius: 40px;
  font-size: 26px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;

  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.2s;
  box-shadow: 0 0 5px rgb(131, 229, 253), 0 0 25px rgb(80, 121, 234),
    0 0 25px rgb(102, 22, 95), 0 0 25px rgb(80, 121, 234);
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

/********************* ABOUT SECTION **************************** */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  background: #09365b;
}

.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 90px;
}

.about-text h2 span {
  color: rgb(232, 138, 176);
}

.about-text h4 {
  font-weight: 100;
  color: #fcfcfc;
  line-height: 1.7;
  margin: 15px 0 15px;
}

.about-text p {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 4rem;
}

/******************************* SERVICES LIST *********************** */

#services {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 1rem;
  background: #003344;
}

.sub-title {
  text-align: center;
  font-size: 90px;
  padding-bottom: 50px;
}

.sub-title span {
  color: rgb(252, 168, 202);
}

.container {
  padding: 90px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 60px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 50px;
  font-size: 25px;
  border-right: 15px;
  border-radius: 20px;
  transition: background 0.2s, transform 0.2s;
  box-shadow: 1px 1px 20px #317cb9, 1px 1px 40px #0d3048;
}

.services-list div i {
  font-size: 70px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

.services-list div a {
  text-decoration: none;
  color: #094172;
  font-size: 20px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(247, 159, 207);
  border-radius: 40px;
  font-size: 26px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;

  opacity: 0;
  animation: slideBottom 0.2s ease forwards;
  animation-delay: 0.2s;
  box-shadow: 0 0 5px rgb(131, 229, 253), 0 0 25px rgb(80, 121, 234),
    0 0 25px rgb(102, 22, 95), 0 0 25px rgb(80, 121, 234);
}

.read:hover {
  background: rgb(249, 142, 185);
  color: #041724;
  box-shadow: 0 0 20px rgb(232, 138, 176), 0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover {
  transform: translateY(-10px);
}

/***************************** SKILLS SECTION *********************************************** */

.Skills-background {
  background: rgb(10, 32, 44);
  background-position: cover;
}

.Skills-background .sub-title {
  margin-bottom: 0;
  padding-bottom: 28px;
  padding-top: 90px;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: first baseline;
  position: relative;
}

.container1 {
  width: 800px;
  height: auto;
  padding: 45px 80px;
  margin-left: 50px;
}

.heading1 {
  text-align: center;
  font-size: 55px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 5px;
  margin-bottom: 30px;
}

.bar {
  margin-top: 20px;
  font-size: 60px;
}

.Technical-bars .bar {
  margin-top: 20px 0;
}

.Technical-bars .bar:first-child {
  margin-top: 0;
}

.Technical-bars .bar:last-child {
  margin-bottom: 0;
}

.Technical-bars .bar .info {
  margin-bottom: 20px;
  margin-top: 5px;
  display: inline;
}

.Technical-bars .bar .info span {
  font-size: 25px;
  font-weight: 800;
  animation: showText 0.2s 0.5s linear forwards;
  opacity: 0;
}

.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 5dvh;
  width: 100%;
  height: 7px;
  background-color: #000000;
  animation: animate-line 1s 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(1);
  transform-origin: left;
}

.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: rgb(61, 171, 244);
  position: absolute;
  border-radius: 50px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(1);
  transform-origin: left;
}

.progress-line.html span {
  width: 90%;
}

.progress-line.css span {
  width: 60%;
}

.progress-line.javascript span {
  width: 80%;
}

.progress-line.java span {
  width: 70%;
}

.progress-line.cloud span {
  width: 65%;
}

.progress-line.docker span {
  width: 60%;
}

.progress-line.react span {
  width: 40%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #96f8ff;
  color: #000000;
  font-size: 20px;
  border-radius: 6px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 1;
}

/* AFTER  */
.progress-line.html span::after {
  content: "90%";
}

.progress-line.css span::after {
  content: "70%";
}

.progress-line.javascript span::after {
  content: "80%";
}

.progress-line.java span::after {
  content: "70%";
}

.progress-line.cloud span::after {
  content: "65%";
}

.progress-line.docker span::after {
  content: "60%";
}

.progress-line.react span::after {
  content: "40%";
}

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid rgb(255, 126, 229);
  border-bottom-width: 0px;
  border-right-width: 0px;
  /* border-top-color: #b91c1c; */
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

/*************** RADIAL BARS FOR PROFESSIONAL SKILLS  **********************/
.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: #0c0c0c;
  fill: #060012;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  /* Indicates that at each end of each subpath, the shape representing the stroke will be extended by a half circle with a radius equal to the stroke width */
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502; /*Controls the pattern of dashes and gaps used to stroke paths.*/
  stroke-dashoffset: 502; /*Specifies the distance into the dash pattern to start the dash.*/
  stroke-linecap: round;
}

.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
.path-5 {
  animation: animate-path5 1s 1s linear forwards;
}

@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 100.4;
  }
}

@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 50.2;
  }
}

@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125.5;
  }
}

@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 175.7;
  }
}

@keyframes animate-path5 {
  100% {
    stroke-dashoffset: 25.1;
  }
}

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  font-weight: 600;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 27px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

/***************************** PROJECT SECTION  *********************************/
#portfolio1 {
  margin-top: 15px;
  width: 100%;
}

.main-text {
  padding: 30px;
  margin-top: 20px;
}

.main-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.main-text h2 span {
  color: #ffafd5;
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
}

.row {
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px;
  margin: 5px;
  width: 100%;
}

.row img {
  width: 100%;
  height: 100%;
  /* border-radius: 48px; */
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(255, 186, 186, 0.9), rgb(3, 3, 84));
  position: absolute;
  /* border-radius:px ; */
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 50px;
  transition: height 0.7s;
}

.layer h5 {
  color: #660000;
  text-decoration: underline;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
}

.layer p {
  color: #00210d;
  font-size: 25px;
  line-height: 1.5;
}

.layer i {
  color: #ffdae6;
  margin-top: 20px;
  font-size: 40px;
  background: #001722;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.5);
}

.row:hover .layer {
  height: 100%;
}

/****************************** CONTACT  ************************************/
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 300px;
  margin-top: 10px;
  background: #c0defb;
  width: 100%;
  height: 100vh;
}

.contact-text h2 {
  color: #002a36;
  font-size: 100px;
  padding: 5px;
  margin-bottom: 50px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color: #fa5994;
}

.contact-text h4 {
  margin: 25px 0;
  color: rgb(0, 52, 66);
  font-size: 3.5rem;
  font-weight: 600;
}

.contact-text p {
  color: #4c0000;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 1rem;
}

.contact-list {
  margin-bottom: 1rem;
}

.contact-list li {
  margin-bottom: 5px;
  display: block;
}

#Email_mine{
    font-size: 2rem;
    color: #074b7b;
    text-decoration: underline;
    cursor: pointer;
}

/* .contact-list li {
  margin-bottom: 10px;
  display: block;
} */

.contact-list i {
  display: inline-block;
  color: rgb(0, 55, 61);
  font-size: 3rem;
  font-weight: 600;
  transition: all 0.4s ease;
}

.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: rgb(0, 55, 61);
}

.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: transparent;
  border: 5px solid rgb(0, 48, 48);
  border-radius: 50%;
  font-size: 40px;
  color: rgb(0, 48, 48);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.contact-icons i:hover {
  background-color: rgb(255, 207, 236);
  color: #000000;
  box-shadow: 00px 0px 50px rgb(0, 19, 19);
}

.contact-form form {
    margin-top: 37%;
  position:relative;
  align-items:center;
  justify-content: space-between;
}

.contact-form form input,
form textarea {
  border: 5px solid rgb(0, 57, 52);
  outline:none;
  width: 90%;
  padding: 20px;
  background: rgb(0, 26, 31);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
}

.contact-form textarea {
  resize: none;
  height: 250px;
}

.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: rgb(252, 173, 217);
  border-radius: 40px;
  font-size: 26px;
  color: #021a2b;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;

  opacity: 0;
  animation: slideBottom 0.2s ease forwards;
  animation-delay: 0.2s;
  box-shadow: 0 0 5px rgb(131, 229, 253), 0 0 25px rgb(80, 121, 234),
    0 0 25px rgb(102, 22, 95), 0 0 25px rgb(80, 121, 234);
}

.contact-form form .send:hover {
  background: rgb(249, 142, 185);
  color: #041724;
  box-shadow: 0 0 20px rgb(232, 138, 176), 0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

/************************************** LAST TEXT **************************** */
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  /* background: #003234; */
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 0px;
}

.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color: #ffc8ed;
  background: rgb(1, 64, 91);
  font-size: 40px;
  padding: 12px;
  border-radius: 0.5rem;
  border: 5px solid #002e35;
}

/******************************* KEYFRAMES  ***********************************************/

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* This CSS code creates a keyframe animation named "slideLeft" that smoothly moves an element from 100 pixels to the left of its original position while fading in from invisible to visible. */
@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/***********************NEWWWWWWWWWW**************************/
